<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false" bootstrap="vendor/autoload.php"
         cacheResult="true"
         colors="false"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         requireCoverageMetadata="false"
>
  <testsuites>
    <testsuite name="Package">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:M5dHmJ47cVdOmhwED1Wxbpp2vR9QZiAphaOd1MhrGqo="/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
  <logging>
    <junit outputFile="./reports/phpunit/coverage/junit.xml"/>
    <teamcity outputFile="./reports/phpunit/coverage/teamcity.txt"/>
    <testdoxHtml outputFile="./reports/phpunit/coverage/testdox.html"/>
    <testdoxText outputFile="./reports/phpunit/coverage/testdox.txt"/>
  </logging>
  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
